<table class="table table-striped table-bordered table-condensed table-hover table-sortable">
  <thead>
    <tr>
      <th class="col title sortable">Agency</th>
      <th class="col sortable"><%= state %> by</th>
      <th class="col sortable">At</th>
    </tr>
  </thead>

  <tbody>
    <% list.each do |agency| %>
      <tr>
        <td>
          <%= link_to agency['title'], {:controller => :agents,
                                        :action => :show,
                                        :agent_type => :agent_corporate_entity,
                                        :id => JSONModel(:agent_corporate_entity).id_for(agency["uri"])} %>
        </td>
        <td><%= agency['registration_last_user'] %></td>
        <td><%= agency['registration_last_time'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
