<%= setup_context(:title => t("managed_registration.title")) %>

<div class="row">
  <div class="col-md-3">
    <div class="sidebar">
      <%= render_aspace_partial :partial => "sidebar" %>
    </div>
  </div>
  <div class="col-md-9">
    <div class="record-pane">

      <h2><%= t("managed_registration.title") %></h2>

      <% ['draft', 'withdrawn', 'submitted', 'approved'].each do |section| %>
        <%= render_aspace_partial :partial => 'managed_registration/section', :locals => {:section => section} %>
      <% end %>

    </div>
  </div>
</div>
