<% render_aspace_partial :partial => "raps/template" %>

<section id="<%= section_id %>" class="subrecord-form-dummy">
  <h3><%= I18n.t("rap_applied._plural") %></h3>
  <div class="subrecord-form-container">
    <div class="subrecord-form-fields">
      <% form.push('rap', record['rap_applied']) do %>
        <% form.emit_template 'rap' %>
      <% end %>

      <section class="subrecord-form-dummy">
        <h4>History</h4>
        <div class="subrecord-form-container">
          <% record['rap_history'].reverse.map do |rap| %>
            <% next if rap['is_active'] %>
            <div class="subrecord-form-fields">
              <% form.push('rap', rap['_resolved']) do %>
                <% form.emit_template 'rap' %>
              <% end %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</section>
