.view-representation-file-link {
    display: inline-block;
    margin-right: 2em;
}

#conservation_request_adds_linker_modal .modal-dialog, #conservation_request_removes_linker_modal .modal-dialog {
    width: 95%;
}
