.view-representation-file-link {
    display: inline-block;
    margin-right: 2em;
}

#assessment_records__modal .modal-dialog,
#conservation_request_adds_linker_modal .modal-dialog,
#conservation_request_removes_linker_modal .modal-dialog {
    width: 95%;
}
.subrecord-form-divider {
    border-bottom: 1px solid #E5E5E5;
}

.batch-action-type-available:hover {
    cursor: pointer;
    background: #efe;
}

.batch-action-type-unavailable:hover {
    cursor: not-allowed;
    background: #eee;
}

.batch-action-type-panel {
    position: relative;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin: 20px;
    padding: 10px;
    width: 450px;
    height: 200px;
}

.batch-action-supported-types-panel {
    position: absolute;
    bottom: 20px;
}

.token-input-dropdown .digital_representation .icon-token:before,
.token-input-list .digital_representation .icon-token:before,
.token-list .digital_representation .icon-token:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f56d";
}
.token-input-dropdown .physical_representation .icon-token:before,
.token-input-list .physical_representation .icon-token:before,
.token-list .physical_representation .icon-token:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f70e";
}