<section id="<%= section_id %>" class="subrecord-form-dummy" data-uri="<%= record['uri'] %>">
  <h3>
    <%= I18n.t("rap_summary.header") %>
  </h3>
  <div class="subrecord-form-container">
    <div class="subrecord-form-fields">
      Loading...
    </div>
  </div>
</section>
<script>
    $(document).ready(function() {
        new RAPSummary($("#<%= section_id %>"));
    });
</script>
