<% render_aspace_partial :partial => "conservation_treatments/template", :locals => {:generating_from_assessment => true} %>

<%= form_for @assessment, :as => "assessment", :url => {:action => :generate_treatments}, :html => {:class => 'form-horizontal aspace-record-form'} do |f| %>
  <%= form_context :assessment, @assessment do |form| %>
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-info">
          <p>
            Generate a Treatment for each of the Representation IDs entered on the left (one per line),
            using the template on the right.
          </p>
        </div>

        <% if defined?(@errors) && !@errors.empty? %>
          <div class="alert alert-danger">
            <% @errors.each do |error| %>
              <p><%= error %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">

        <div class="row">
          <div class="col-sm-12">
            <h5>IDs</h5>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-sm-12">
              <textarea id="representation_ids"
                        name="ids"
                        class="form-control"
                        style="resize:vertical;"
                        rows="20"><%== @representation_ids %></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-2">&nbsp;</div>

          <div class="col-sm-10">
            <h5>Conservation Treatment template</h5>
          </div>
        </div>

        <% treatments_applied = @assessment['formats'].select{|fmt| fmt['value']}.map{|fmt| fmt['label']}.join(', ') %>
        <div class="row">
          <div class="subrecord-form-container">
                   <% form.push("conservation_treatment", {'treatments_applied' => treatments_applied}) do %>
              <% form.emit_template('conservation_treatment') %>
              <% end %>
            </div>
          </div>
        </div>

    </div>
  <% end %>
<% end %>

<script>
  $(function() {
    // FIXME: I'm a heal - couldn't get initDateFields(scope) to run, so copied its body here

    var scope = $(document.body);
    $(".date-field:not(.initialised)", scope).each(function() {
      var $dateInput = $(this);

      if ($dateInput.parent().is(".input-group")) {
        $dateInput.parent().addClass("date");
      } else {
        $dateInput.wrap("<div class='input-group date'></div>");
      }

      $dateInput.addClass("initialised");

      var $addon = $("<span class='input-group-addon'><i class='glyphicon glyphicon-calendar'></i></span>");
      $dateInput.after($addon);

      $dateInput.datepicker($dateInput.data());

      $addon.on("click", function() {
        $dateInput.focus().select();
      });
    });
  });
</script>
