<div class="form-group">
<div class="form-group">
  <div class="control-label col-sm-2"><%= I18n.t("batch_action_types.publisher.publish") %></div>
  <% if form.readonly? %>
    <div class="label-only col-sm-6">
      <%= !!form.obj['publish'] %>
    </div>
  <% else %>
    <div class="col-sm-6 checkbox">
      <%= form.checkbox "publish", {}, !!form.obj['publish'] %>
    </div>
  <% end %>
</div>
