<% define_template "physical_representation", jsonmodel_definition(:physical_representation) do |form| %>
  <div class="subrecord-form-fields">
    <%= form.hidden_field "existing_ref" %>
    <%= form.label_and_textarea "description" %>
  </div>
<% end %>