<% render_aspace_partial :partial => "external_resources/template" %>

<section id="<%= section_id %>" class="subrecord-form-dummy">
  <h3><%= I18n.t("external_resource._plural") %></h3>
  <% external_resources.each do |external_resource| %>
    <div class="subrecord-form-container">
      <% context.push("external_resource", external_resource) do |context| %>
        <% context.emit_template("external_resource") %>
      <% end %>
    </div>
  <% end %>
</section>
