<% define_template "external_resource", jsonmodel_definition(:external_resource) do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_and_textfield "title" %>
    <%= form.label_and_textfield "location" %>
    <%= form.label_and_boolean "publish" %>
  </div>
<% end %>
